<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title th:text="${aihesivu}">Aihe</title>
        <meta charset="UTF-8"></meta>
    </head>
    
    <body>
        <ul>
            <li th:each="kysymys : ${kysymyksia}">
                <span th:text="${kysymys.kysymysteksti}">Kysymys</span>
                <form th:action="@{~/__${kurssisivu}__}/__${aihesivu}__/__${kysymys.id}__}" method="GET">
                    <input type="submit" value="Vastausvaihtoehtoihin"/>
                </form>
            </li>
        </ul>
        
        
        
        <form action="/" method="GET">
                <input type="submit" value="Takaisin etusivulle"/>
        </form>
        <form th:action="@{~/__${kurssisivu}__}" method="GET">
            <input type="submit" value="Takaisin kurssin sivulle"/>
        </form>
        
    </body>
</html>
