<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

    <head>
        <title>Etusivu</title>
        <meta charset="utf-8" />
    </head>

    <body>
        <h2>Kurssit:</h2>
        
        <ul>
            <li th:each="kurssi : ${kurssit}">
                <span th:text="${kurssi}"></span>
                <form th:action="@{~/__${kurssi}__}" method="GET">
                    <input type="submit" value="Aiheisiin"/>
                </form>
            </li>
                
        </ul>
        
        <h2>Kaikki kysymykset:</h2>
        <form th:action="@{~/kaikki}" method="GET">
            <input type="submit" value="Nayta"/>
        </form>
        
        <h2>Lisaa kysymys:</h2>
        <form method="POST" action="/uusikysymys">
            Kurssi<input type="text" name="kurssi"/><br/>
            Aihe<input type="text" name="aihe"/><br/>
            Kysymysteksti<input type="text" name="kysymysteksti"/><br/>
            <input type="submit" value="Lisaa"/>
        </form>

    </body>
</html>
