<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    
    <head>
        <title>Kaikki kysymykset</title>
        <meta charset="utf-8" />
    </head>
    
    <body>
        <h1>Kaikki kysymykset:</h1>
        <ul>
            <li th:each="kysymys : ${kysymyksia}">
                <span th:text="${kysymys.kysymysteksti}">Kysymys</span>
                <form th:action="@{~/__${kysymys.kurssi}__/__${kysymys.aihe}__/__${kysymys.id}__}" method="GET">
                    <input type="submit" value="Vastausvaihtoehtoihin"/>
                </form>
            </li>
        </ul>
        
        
        
        <form action="/" method="GET">
                <input type="submit" value="Takaisin etusivulle"/>
        </form>
        
    </body>
</html>
