<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

    <head>
        <title th:text="${kurssisivu}">Kurssi</title>
        <meta charset="UTF-8"></meta>
            
    </head>
    <body>
        <h1 th:text="${kurssisivu}">Kurssi</h1>
        <h2> Aiheet: </h2>
        <ul>
            <li th:each="aihe : ${aiheet}">
                <p th:text="${aihe}">Aihe</p>
                <form th:action="@{~/__${kurssi}__/__${aihe}__}" method="GET">
                    <input type="submit" value="Kysymyksiin"/>
                </form>
                    
            </li>
        </ul>
        
        <form action="/" method="GET">
                <input type="submit" value="Etusivulle"/>
        </form>
    </body>
</html>
