<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

    <head>
        <title th:text="${kurssisivu}">Kurssi</title>
        <meta charset="UTF-8"></meta>
            
    </head>
    <body>
        <h1> Aiheet </h1>
        
        <ul>
            <li th:each="aihe : ${aiheet}">
                <span th:text="${aihe}">Aihe</span>
                <a th:href="@{/__${aihe}__}">Kysymykset</a>
            </li>
        </ul>
        
        <a th:href="@{~/}">Etusivulle</a>
    </body>
</html>
