<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title th:text="${kysymys.kysymysteksti}">Kysymys</title>
        <meta charset="UTF-8"></meta>
    </head>
    
    <body>
        
        <ul>
            <li th:each="vastaus : ${vastaukset}">
                <span th:text="${vastaus.vastausteksti}">Vastausvaihtoehto</span>
                <form th:action="@{~/__${kurssisivu}__/__${aihesivu}__/__${kysymys.id}__/
                      __${vastaus.id}__}" method="GET">
                    <input type="submit" value="Vastaa"/>
                </form>
            </li>
        </ul>
        
        <h2>Lisaa vastausvaihtoehto</h2>
        <form method="POST" action="/uusivastaus">
            <input type="text" name="vastausteksti"/>Vastaus<br/>
            <select name="oikein">
              <option value="1">Oikein</option>
              <option value="0">Vaarin</option>
            </select>
            <input type="hidden" name= "kysymys" value="__${kysymys.id}__"/>
            <input type="submit" value="Lisaa"/>
        </form>
        <span></span>
        
        <form action="/" method="GET">
                <input type="submit" value="Takaisin etusivulle"/>
        </form>
        <form th:action="@{~/__${kurssisivu}__}" method="GET">
            <input type="submit" value="Takaisin kurssin sivulle"/>
        </form>
        <form th:action="@{~/__${kurssisivu}__/__${aihesivu}__}" method="GET">
            <input type="submit" value="Takaisin aiheen sivulle"/>
        </form>
        
        
    </body>
</html>
