<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    
    <head>
        <title th:text="${vastaukset.vastausteksti}">Vastaus</title>
        <meta charset="UTF-8"></meta>
    </head>
    <body>
        <h1>Kysymys oli: <span th:text="${kysymys.kysymysteksti}"></span></h1>
        <h1>Vastauksesi oli: <span th:text="${vastaukset.vastausteksti}"></span></h1>
        <h1>Vastaus on: <span th:text="${vastaukset.oikein}"></span></h1>
       
        
        
        <form method="POST" action="/poistavastaus">
            <input type="hidden" name= "kysymys" th:value="__${vastaukset.id}__"/>
            <input type="submit" value="Poista tama vastausvaihtoehto"/>
        </form>
        <span></span>
        
    
        <form action="/" method="GET">
            <input type="submit" value="Takaisin etusivulle"/>
        </form>
        <form th:action="@{~/__${kurssisivu}__}" method="GET">
            <input type="submit" value="Takaisin kurssin sivulle"/>
        </form>
        <form th:action="@{~/__${kurssisivu}__/__${aihesivu}__}" method="GET">
            <input type="submit" value="Takaisin aiheen sivulle"/>
        </form>
        <form th:action="@{~/__${kurssisivu}__/__${aihesivu}__/__${kysymyssivu}__}" method="GET">
            <input type="submit" value="Takaisin kysymykseen"/>
        </form>
        
    </body>
    

</html>
