<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    
    <head>
        <title th:text="${vastaus.vastausteksti}">Vastaus</title>
        <meta charset="UTF-8"></meta>
    </head>
    <body>
        <h1>Vastaus on: </h1>
        <span th:text="${vastaus.oikein}"></span>
        
    
        <form action="/" method="GET">
            <input type="submit" value="Takaisin etusivulle"/>
        </form>
        <form th:action="@{~/__${kurssisivu}__}" method="GET">
            <input type="submit" value="Takaisin kurssin sivulle"/>
        </form>
        <form th:action="@{~/__${kurssisivu}__/__${aihesivu}__}" method="GET">
            <input type="submit" value="Takaisin aiheen sivulle"/>
        </form>
        <form th:action="@{~/__${kurssisivu}__/__${aihesivu}__/
              __${kysymyssivu}__" method="GET">
            <input type="submit" value="Takaisin kysymykseen"/>
        </form>
        
    </body>
    

</html>
